
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}
.navbar-nav  li a:hover {
  color: #1abc9c !important;
}

.footer-padding {
padding-bottom: 60px;
}


  .footer {
    position: fixed;
    background-color: gray;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px;
    text-align: center;
  }


.footer p {
margin-top: 25px;
font-size: 12px;
color: #fff;
}
